*{
  font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

:root{
  --button-color: #489CFF;
}

p{
  font-size: 0.9rem;
}

.container{
    width: 95%;
    margin:auto;
}

/* --------------------------------------Header------------------------------ */

header{
  background-color: black;
}

#entete_admin{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* ---------------------------Menu----------------- */
#menuToggle
{
  display: block;
  position: relative;
  width: 5%;
  top: 2px;
  left: 0;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -8px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: black;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  list-style-type: none;
  padding: 10px 0;
  font-size: 22px;
}

#menu a{
  color: white;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* ----------------------------------------ADMIN-------------------------*/


/* ------------------------Dashboard-------------- */

#stats{
  width: 100%;
  margin: 15px 0;
}

.stat{
  width: 100%;
  margin: 15px 0;
  border: solid grey 1px;
  display: flex;
  justify-content: space-between;
}

.stat img{
  height: 100px;
  width: auto;
}

#articles{
  width: 100%;
}

.article{
  width: 100%;
  margin: 15px 0;
  border-radius: 22px;
  /* display: flex; */
  background-color: var(--main-color);
  justify-content: space-between;
  border: solid 1px rgba(128, 128, 128, 0.529);
}

.article img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 22px 22px 0 0;
}

.info_article{
  margin: 0 10px;
}

.info_article h2{
  font-size: 1.2rem;
}


/* ---------------------A propos----------------- */

.a_propos{
  margin-top: 5px;
  position: relative;
  text-align: center;
}

.img_propos{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.texte_propos{
  position: absolute;
  color: white;
  top:0;
  left: 20%;
  width: 60%;
}






