* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 20px;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

:root {
  --main-color: #F8E2FF;
  --button-color: #489CFF;
}

#entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover {
  color: tomato;
}

/* ----------------------------Header-------------------------- */
/* -----------Menu-------------- */
#menuToggle {
  display: block;
  position: relative;
  width: 5%;
  top: 2px;
  left: 0;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -8px;

  cursor: pointer;

  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 250px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  border-radius: 5%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  list-style-type: none;
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

/* -----------Logo-------------- */
.tempsDaime {
  display: flex;
  align-items: center;
}

.tempsDaime img {
  height: 50px;
  width: auto;
}

/* ----------------------------Footer------------------------ */

footer {
  text-align: center;
  padding-bottom: 30px;
}

footer .reseaux {
  width: 10%;
}

footer #logo_reseaux {
  display: flex;
  justify-content: space-around;
  margin-top: -22px;
}

footer .tempsDaime {
  justify-content: center;
}





/* ----------------------A Propos----------------------- */


/* ----------Accueil--------*/
#a_propos_accueil {
  position: relative;
  text-align: center;
}

#a_propos_accueil h1 {
  margin: 10px 0;
}

#img_propos_accueil {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0 0 40px 40px;
}

#filtre {
  width: 100%;
  height: 250px;
  position: absolute;
  border-radius: 0 0 40px 40px;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
}

#texte_propos_accueil {
  position: absolute;
  color: white;
  top: 0;
  left: 15%;
  width: 70%;
}

/* ---------------Page A Propos---------------- */

.a_propos {
  position: relative;
  text-align: center;
}

.a_propos h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 10px 0;
}

.img_propos {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0 0 40px 40px;
}

#filtre {
  width: 100%;
  height: 250px;
  position: absolute;
  border-radius: 0 0 40px 40px;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
}

.texte_propos {
  position: absolute;
  color: white;
  top: 0;
  left: 20%;
  width: 60%;
}

/* --------------------------------Services---------------------- */

#services {
  width: 100%;
  text-align: center;
  background-color: var(--main-color);
  margin: 2em 0;
  padding: 20px 0;
  border-radius: 12px;
}

#services h2 {
  text-align: center;
  margin: 0;
}

.service {
  border: 1px solid rgba(128, 128, 128, 0.599);
  border-radius: 10px;
  margin: 25px 5%;
  padding: 20px 0;
  background-color: white;
  text-align: center;
}

.service .logo {
  width: 140px;
  height: 140px;
  padding: 10px;
  margin: auto;
  border-radius: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
}

.service .logo img {
  height: 125px;
  width: 125px;
  display: block;
  margin: auto;
}

.service .info_service {
  margin: 5%;
}

.service .info_service h3 {
  margin: 25px 0 50px 0;
  font-size: 2em;
  font-weight: 300;
}

/* -------------------------------Folio---------------------------- */

/*----Folio Accueil-----*/

#folio_accueil {
  text-align: center;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#folio_accueil h2 {
  padding-top: 15px;
  width: 100%;
}


#folio_accueil img {
  width: 100%;
  border: 1px rgba(0, 0, 0, 0.15) solid;
  margin: 10px 0;
  border-radius: 40px;
}

/* --------------------------------Blog-------------------------- */



.article {
  width: 100%;
  margin: 15px 0;
  border-radius: 22px;
  /* display: flex; */
  background-color: var(--main-color);
  justify-content: space-between;
  border: solid 1px rgba(128, 128, 128, 0.529);
}

.article img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 22px 22px 0 0;
}

.info_article {
  margin: 0 10px;
}

.info_article h2 {
  font-size: 1.2rem;
}


/* -------------------Contact---------------------- */

#container_formulaire_accueil {
  background-color: var(--main-color);
  width: 100%;
  padding: 25px 0 50px;
  border-radius: 12px;
}

#texte_formulaire{
  text-align: center;
}

#container_formulaire_accueil p {
  width: 100%;
}

#container_formulaire_accueil h2 {
  margin-top: 10px;
}

#container_formulaire_accueil form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#container_formulaire_accueil form input {

  margin: 10px 0;
  height: 20px;
}

#container_formulaire_accueil form textarea {
  margin: 10px 0;
  height: 100px;
}

#container_formulaire_accueil form button {
  width: 100px;
  height: 30px;
  font-size: 1.1rem;
  margin: 10px auto;
  color: white;
  background-color: var(--button-color);
  border-radius: 5px;
  border: none;
}

/* ----------------------Tablette-------------------- */

@media screen and (min-width: 600px) {

  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 25px;
  }

  #a_propos_accueil h1 {
    font-size: 2em;
    font-weight: 400;
    margin: 30px 0;
  }

  #folio_accueil article {
    width: 45%;
  }

  #container_formulaire_accueil form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #container_formulaire_accueil form input {
    width: 45%;
  }

  #container_formulaire_accueil form .message_tablette {
    width: 100%;
  }

  footer #logo_reseaux {
    margin-top: -40px;
  }

}

@media screen and (min-width : 1024px) {

  body {
    max-width: 1200px;
    margin: auto;
  }

  #a_propos_accueil {
    background-color: var(--main-color);
    border-radius: 0 0 40px 40px;
    height: 400px;
  }

  #img_propos_accueil {
    width: 60%;
    border-radius: 0 0 40px 0;
    position: relative;
    left: 20%;
    height: 400px;
  }

  #filtre {
    display: none;
  }

  #texte_propos_accueil {
    width: 25%;
    left: 5%;
    text-align: start;
    color: black;
  }

  #services {
      background-color: white;
  }

  #services h2{
    text-align: start;
  }

  #background_folio{
    background-color: var(--main-color);
    width: 100%;
  }

  #folio_accueil{
    text-align: start;
    padding-bottom: 2em;
  }

  #folio_accueil article {
    width: 30%;
  }

  #container_formulaire_accueil{
    background-color: white;
  }

  #formulaire_desktop{
    display: flex;
    justify-content: space-between;
  }

  #texte_formulaire{
    text-align: start;
    width: 35%;
  }

  #container_formulaire_accueil h2{
    margin-top: 0;
  }

  #container_formulaire_accueil form{
    width: 50%;
  }

  #container_formulaire_accueil form input{
    width: 100%;
  }

  footer #logo_reseaux{

    margin-top: 20px;
    height: 60px;
    width: auto;
  }



  

  




}