/* -----------------------PARAMETRES GENERAUX------------------ */

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 25px;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

:root {
  --main-color: #F8E2FF;
  --button-color: #489CFF;
}

#entete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover {
  color: var(--button-color);
}

/* ----------------------------Header-------------------------- */
/* -----------Menu-------------- */
#menuToggle {
  display: block;
  position: relative;
  width: 5%;
  top: 2px;
  left: 0;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -8px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 250px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  border-radius: 5%;
  background: rgba(255, 255, 255, 0.9);
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  list-style-type: none;
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

#menu_desktop {
  display: none;
}

/* -----------Logo-------------- */
.tempsDaime {
  display: flex;
  align-items: center;
}

.tempsDaime img {
  height: 50px;
  width: auto;
}



/* ----------------------A Propos----------------------- */


/* ----------Accueil--------*/
#a_propos_accueil {
  position: relative;
  text-align: center;
}

#a_propos_accueil h1 {
  margin: 10px 0;
}

#img_propos_accueil {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0 0 40px 40px;
}

#filtre {
  width: 100%;
  height: 300px;
  position: absolute;
  border-radius: 0 0 40px 40px;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
}

#texte_propos_accueil {
  position: absolute;
  color: white;
  top: 0;
  left: 15%;
  width: 70%;
}

/* ---------------Page A Propos---------------- */

#bloc_propos {
  margin: 30px auto 45px;
}

.a_propos {
  position: relative;
  text-align: center;
}

#titre_propos {
  font-size: 2em;
  font-weight: 300;
  margin: 10px;
  text-align: center;
}

.img_propos {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 40px 40px 40px 40px;
}

.filtre {
  width: 100%;
  height: 300px;
  position: absolute;
  border-radius: 40px 40px 40px;
  background: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
}

.texte_propos h2 {
  margin-top: 10px;
}

.texte_propos {
  position: absolute;
  color: white;
  top: 0;
  left: 15%;
  width: 70%;
}

.texte_propos p {
  margin-top: 5px;
}

.a_propos:nth-of-type(1) img,.a_propos:nth-of-type(1) #filtre{
  border-radius: 40px 40px 0 0;
}

.a_propos:nth-of-type(3) img,.a_propos:nth-of-type(3) #filtre{
  border-radius: 0;
}

.a_propos:nth-of-type(5) img,.a_propos:nth-of-type(5) #filtre{
  border-radius: 0 0 40px 40px;
}

.tiret:nth-of-type(2),.tiret:nth-of-type(4){
  background-color: var(--main-color);
  text-align: center;
  margin-top: -5px;
}

.tiret:nth-child(6){
  display: none;
}

/* --------------------------------Services---------------------- */

#services {
  width: 100%;
  text-align: center;
  background-color: var(--main-color);
  margin: 2em 0;
  padding: 20px 0;
  border-radius: 12px;
}

#services h2 {
  text-align: center;
  margin: 0;
}

.service {
  border: 1px solid rgba(128, 128, 128, 0.599);
  border-radius: 10px;
  margin: 25px 5%;
  padding: 20px 0;
  background-color: white;
  text-align: center;
}

.service .logo {
  width: 140px;
  height: 140px;
  padding: 10px;
  margin: auto;
  border-radius: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
}

.service .logo img {
  height: 125px;
  width: 125px;
  display: block;
  margin: auto;
}

.service .info_service {
  margin: 5%;
}

.service .info_service h3 {
  margin: 25px 0 50px 0;
  font-size: 2em;
  font-weight: 300;
}

/* -------------------------------Folio---------------------------- */

/*----Folio Accueil-----*/

#folio_accueil {
  text-align: center;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
}

#folio_accueil h2 {
  padding-top: 15px;
  width: 100%;
}


#folio_accueil img {
  width: 100%;
  border: 1px rgba(0, 0, 0, 0.15) solid;
  margin: 10px 0;
  border-radius: 40px;
}

/* Page Portfolio */

#titre_folio{
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

#filtre_folio{
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin : 0 auto -15px
}

#filtre_folio li{
  border-bottom: 1px solid black;
  padding: 5px 0;
  width: 150px;
  margin: auto;
  cursor: pointer;
}

#filtre_folio li.active{
  border-bottom: 3px solid var(--button-color);
  color: var(--button-color);
  font-weight: 700;
}

#filtre_folio li:hover{
  border-bottom: 3px solid var(--button-color);
  color: var(--button-color);
  font-weight: 700;
}

.hide {
  animation: hide .5s ease 0s 1 normal forwards;
  transform-origin: center;
}

.show {
    animation: show .5s ease 0s 1 normal forwards;    
    transform-origin: center;
}

@keyframes hide {
  0%{
    transform: scale(1);        
  }
  100% {
    transform: scale(0);        
    width: 0;
    height: 0;
    margin: 0;
  }
}
@keyframes show {
  0%{
    transform: scale(0);     
    width: 0;
    height: 0;
    margin: 0;   
  }
  100% {
    transform: scale(1);    
  }
}


/* --------------------------------Blog-------------------------- */

#blog{
  margin-bottom: 50px;
}

#section_blog{
  text-align: center;
  width: 100%;
}

.article {
  width: 100%;
  margin: 6px 0;
  border-radius: 22px;
  background-color: var(--main-color);
  justify-content: space-between;
  border: solid 1px rgba(128, 128, 128, 0.529);
}

.article img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 22px 22px 0 0;
}

.info_article {
  margin: 0 10px;
}

.article_blog p{
  font-size: 1.2rem;
  margin: -2px 0;
}

.info_article h2 {
  font-size: 1.5rem;
  margin: 6px 0;
}

.article a{
  display: block;
  width: 105px;
  text-align: center;
  height: 23px;
  font-size: 1.1rem;
  margin: 15px auto;
  color: white;
  background-color: var(--button-color);
  border-radius: 5px;
  border: none;
}

#oneArticle{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}

#oneArticle .info_article{
  text-align: center;
  width: 100%;
}

#oneArticle img{
  width: 80%;
  height: auto;
  margin: auto;
  border-radius: 22px;
}


/* -------------------Contact---------------------- */

#container_formulaire_accueil {
  background-color: var(--main-color);
  width: 100%;
  padding: 25px 0 50px;
  border-radius: 12px;
}

#texte_formulaire {
  text-align: center;
}

#container_formulaire_accueil p {
  width: 100%;
}

#container_formulaire_accueil h2 {
  margin-top: 10px;
}

#container_formulaire_accueil form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#container_formulaire_accueil form input {

  margin: 10px 0;
  height: 20px;
}

#container_formulaire_accueil form textarea {
  margin: 10px 0;
  height: 100px;
}

#container_formulaire_accueil form button {
  width: 100px;
  height: 30px;
  font-size: 1.1rem;
  margin: 10px auto;
  color: white;
  background-color: var(--button-color);
  border-radius: 5px;
  border: none;
}

#container_formulaire_accueil form input,
textarea {
  font-size: 1.2rem
}

/* -------------------------Page 404------------------------ */

#page-404 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  background: url('/app/public/Administration/img/404.jpg') no-repeat center;
}

#page-404 h1 {
  width: 100%;
  margin: 0 auto;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
}

#txt-error {
  width: 75%;
  margin: 30px auto 0;
  padding: 25px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--button-color);
  border-radius: 10px;
  background-color: #1a1a1ab0;
}

#txt-error h1 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0 auto 30px;
}

#txt-error p, #txt-error a {
  font-size: 1.5rem;
  text-align: center;
}

#txt-error p {
  width: 100%;
  margin: 0 auto;
}

#txt-error p:last-of-type {
  margin-bottom: 25px;
}

#txt-error a {
  width: 45%;
  padding: 15px;
  margin: 20px auto 5px;
  border: 3px solid var(--button-color);
  color: white;
  border-radius: 5px;
  text-align: center;
}

#txt-error a:hover {
  color: var(--button-color);
  background-color: white;
  border: 3px solid var(--button-color)
}

/* -------------------------Mentions Legales */

#mentions{
  text-align: center;
  line-height: 2.2rem;
  margin-bottom: 50px;
}

/* ----------------------------Footer------------------------ */

footer {
  text-align: center;
  padding-bottom: 30px;
}

footer .reseaux {
  width: 10%;
}

footer #logo_reseaux {
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: auto;
  margin-top: -28px;
}

footer .tempsDaime {
  justify-content: center;
}



/* ----------------------Tablette-------------------- */

@media screen and (min-width: 600px) {

  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.4rem;
  }

  
/* Accueil */
  #a_propos_accueil h1 {
    font-size: 2em;
    font-weight: 400;
    margin: 30px 0;
  }

  

  #container_formulaire_accueil form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #container_formulaire_accueil form input {
    font-size: 1.2rem;
    width: 45%;
  }

  #container_formulaire_accueil form .message_tablette {
    width: 100%;
  }

  #folio_accueil div {
      width: 45%;
      margin: 2.5%;
  }

  /* blog */

  #blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .article{
    width: 49%;
  }

  /* mentions-légales */
  #mentions{
    text-align: start;
  }

  footer #logo_reseaux {
    margin-top: -29px;
  }

}

/* ----------------------Tablette XL--------------------- */

@media screen and (min-width : 800px) {
  /* Article seule */
  #oneArticle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #oneArticle .info_article{
    text-align: end;
    width: 50%;
  }

  #oneArticle img{
    width: 45%;
    height: auto;
    border-radius: 22px;
  }

  /* catégories portfolio */
  #filtre_folio{
    flex-direction: row;
    margin-left: 5px;  
  }

  #filtre_folio li{
    text-align: start;
    padding-left: 10px; 
    margin: 0;
  }


}

/* ---------------------------PC----------------------- */
@media screen and (min-width : 1024px) {

  body {
    max-width: 1200px;
    margin: auto;
  }

  /* --------------header--------- */
  /* menu */
  #menuToggle {
    display: none;
  }

  #menu_desktop {
    display: flex;
    list-style: none;
    padding-left: 0px;
  }

  #menu_desktop li {
    margin-right: 20px;
    ;
  }
  /* accueil */
  #container_formulaire_accueil {
    background-color: white;
  }

  #formulaire_desktop {
    display: flex;
    justify-content: space-between;
  }

  #texte_formulaire {
    text-align: start;
    width: 35%;
  }

  #container_formulaire_accueil h2 {
    margin-top: 0;
  }

  #container_formulaire_accueil form {
    width: 50%;
  }

  #container_formulaire_accueil form input {
    width: 100%;
  }
  /*------------------------- A propos -------------------*/
  /* Accueil */
  #a_propos_accueil {
    background-color: var(--main-color);
    border-radius: 0 0 40px 40px;
    height: 400px;
  }

  #img_propos_accueil {
    width: 60%;
    border-radius: 0 0 40px 0;
    position: relative;
    left: 20%;
    height: 400px;
  }

  .filtre {
    display: none;
  }

  #texte_propos_accueil {
    width: 25%;
    left: 5%;
    text-align: start;
    color: black;
  }

  /* Page A Propos */

  .a_propos {
    background-color: var(--main-color);
    height: 500px;
  }

  .img_propos {
      width: 50%;
      position: relative;
      left: 25%;
      height: 500px;
  }

  .a_propos:nth-of-type(1){
    border-radius: 40px 40px 0 0;
  }

  .a_propos:nth-of-type(1) img{
    border-radius: 0px 40px 0 0;
  }

  .a_propos:nth-of-type(3) img{
    left: -25%;
  }

  .a_propos:nth-of-type(3) .texte_propos {
    width: 25%;
    left: 70%;
    text-align: end;
    color: black;
  }

  .a_propos:nth-of-type(5) img{
    border-radius: 0px 0px 40px 0;
  }

  .a_propos:nth-of-type(5){
    border-radius: 0 0 40px 40px;
  }

  .texte_propos {
    width: 25%;
    left: 5%;
    text-align: start;
    color: black;
    padding-top: 30px;
  }

  .tiret:nth-of-type(2),.tiret:nth-of-type(4){
    background-color: white;
  }

  #services {
    background-color: white;
  }

  #services h2 {
    text-align: start;
    margin: auto;
  }

  #background_folio {
    background-color: var(--main-color);
    width: 100%;
    border-radius: 15px;
  }

  #folio_accueil {
    text-align: start;
    padding-bottom: 2em;
  }

  #folio_accueil div {
    width: 30%;
    margin : 1.5%
  } 

  .article{
    width: 32%;
  }

  /* 404 */

  #body_404{
    max-width: 100%;
  }

  /* Footer */
  footer #logo_reseaux {
    margin-top: 20px;
    height: 60px;
    width: auto;
  }

}